<html xmlns:th="http://www.thymeleaf.org">
 <body onload="makeActive('transfer')">
 <div th:insert="menu.html"></div>
 <form action="transfer-amount"> 
  <table class='ta'>
    <tr>
     <td class='td'>Enter account number:</td>
     <td class='td'><input type='number' th:value="${an}" id="accountNo" name='accountNo' class='tb' required></td>
     <td class='td'><button class='bt' onclick="return checkSelfAccountNo()">Submit</button></td>
    </tr>
   </table>
  </form> 
  <div class='dvv'>
   <label class='lah' id="error" style='color:red' th:text="${msg}"></label>
  </div> 
 </body>
</html>